.CreateCourse-container{
  display: flex;
  margin: 0;
  width: 100%;
  height: 100vh;
  flex-direction: column;
}
.CreateCourse-background{
  /* background-color: #DEDEDE; */
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.CreateCourse-form{
  background-color: white;
  display: flex;
  width: 25%;
  height: 75%;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.5);
  gap: 5px;
}
.CreateCourse-form-row{
  /* background-color: blue; */
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.CreateCourse-form-row h1{
  margin: 0;
  font-size: 35px;
}

.CreateCourse-form-row input[type="text"], .CreateCourse-form-row input[type="number"]{
  width: 60%;
  height: 50%;
  border: 0;
  border-bottom: 1px solid black;
  font-size: 18px;
  outline: none;
}