.nav{
  display: flex;
  /* background-color: #0f2d52; */
  width: 100%;
  height: fit-content;
  align-items: center;
  border-bottom: 2px solid #DEDEDE;
}
.mercedLogo{
  object-fit: fill;
  height: 75px;
  margin: 5px 5px;
}